/* JUEVES CSS */

.j_body {
    background-color: #222222;
    color: #f7f3e3;
}

#j_conteiner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        max-width: 260px;
        padding: 0 1rem;
    }
}

.j_titulo {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem 0;
} 

@media (max-width: 600px) {
    #j_conteiner {
        iframe {
            width: 300px;
            height: 200px;
        }
    }
}