/* SERPIENTE HTML */
// SERPIENTE

.s_body {
    background-color: rgb(31, 31, 31);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s_tablero_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 .2rem 0;
    div {
        margin: .5rem 0 0 0;
    }
}

.s_btn_info {
    padding: 1rem 0;
    margin: .2srem 0;
    width: 200px;
    border: none;
    border-radius: 3px;

    background-color: #DDDBCB;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.s_btn, .s_btn_info {
    cursor: pointer;
}

#s_puntuacion {
    p {
        font-size: 1.1rem;
        font-weight: 400;
        font-style: italic;
    }
}


.s_tablero_conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#s_tablero {
    width: 606px;
    height: 606px;
    background-color: #25605A;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    div {
        width: 30px;
        height: 30px;
    }

    .serpiente {
        background-color: #30292F;
    }

    .manzana {
        background-color: #B9314F;
    }

}

.s_btn {
    padding: .7rem 0;
    width: 100px;
    margin: .15rem .018rem;
    border: none;
    font-size: .9rem;
    border-radius: 3px;

    background-color: #DDDBCB;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.s_controles {
    text-align: center;
}

.s_flechas {
    display: flex;
    flex-direction: column;
    margin: .5rem 0 0 0;
    p {
        font-weight: 300;
    }
    div {
        margin: .2rem 0 0 0;
        kbd {
            background-color: #DDDBCB;
            color: #30292F;
            padding: .2rem;
        }
    }
}

@media (max-width: 630px) {
    #s_tablero {
        width: 406px;
        height: 406px;
        div {
            width: 20px;
            height: 20px;
        }
    }

    .s_btn {
        padding: .5rem 0;
        width: 80px;
        margin: .1rem .009rem;
    }
    .s_flechas {
        display: none;
    }
}

@media (max-width: 430px) {
    #s_tablero {
        width: 307px;
        height: 307px;
        div {
            width: 15px;
            height: 15px;
        }
    }
}